@import '../../styles/variables.less';

.gl-icon {
  display: inline-block;
  flex-shrink: 0;
  
  &--small {
    width: 32rpx;
    height: 32rpx;
  }
  
  &--medium {
    width: 48rpx;
    height: 48rpx;
  }
  
  &--large {
    width: 64rpx;
    height: 64rpx;
  }
  
  &--xlarge {
    width: 96rpx;
    height: 96rpx;
  }
}
