:root {
    --color-1: #ff381a;
    --color-2: #ffc259;
    --color-3: #99ffda;
    --color-4: #d9faff;
    --color-5: #ffffff;
}

.primary {
    background-color: var(--color-1);
    color: #fff;
}

.secondary {
    background-color: var(--color-2);
    color: #fff;
}