@import '../../styles/variables.less';
@import '../../styles/mixins.less';

.switch-role {
    padding: @spacing-2xl @page-padding 200rpx;

    &__title {
        display: block;
        margin-bottom: @spacing-lg;
        font-size: @font-size-sm;
        font-weight: @font-weight-bold;
        color: @text-muted;
        text-transform: uppercase;
        letter-spacing: 1rpx;
    }
}