@import '../../styles/variables.less';
@import '../../styles/mixins.less';

.gl-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: @bg-primary;
  border-bottom: 2rpx solid @border-subtle;

  &__content {
    .flex-between();
    padding: 0 calc(@spacing-md + env(safe-area-inset-right)) 0 calc(@spacing-md + env(safe-area-inset-left));
  }

  &__left,
  &__right {
    width: 160rpx;
    .flex-start();
  }

  &__right {
    justify-content: flex-end;
  }

  &__back-icon {
    width: 48rpx;
    height: 48rpx;
    opacity: 0.8;
  }

  &__title {
    flex: 1;
    text-align: center;
    font-size: @font-size-md;
    font-weight: @font-weight-semibold;
    color: @text-header;
    .text-ellipsis();
  }

  &__placeholder {
    width: 100%;
  }
}