// 颜色
$primary-color: #fa2c19; // 京东红，NutUI 默认色，可后续调整
$primary-color-end: #fa6419;

// 字体
$font-size-base: 28rpx;
$font-size-lg: 32rpx;
$font-size-sm: 24rpx;

// 间距
$spacing-base: 20rpx;
$spacing-lg: 30rpx;
$spacing-sm: 10rpx;
